.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 900px;
  }
}

@media only screen and (max-width: 960px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    max-width: 700px;
  }
}

@media only screen and (max-width: 800px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    grid-gap: 20px;
  }
}
