.search-box {
  border: none;
  padding: 15px;
  margin: 30px;
  margin-bottom: 25px;
  border-radius: 1px;
  background-color: rgb(231, 231, 231);
  border: 4px double #cea152;
  box-shadow: inset 3px 3px 7px -3px rgb(101, 74, 5);
}

input:focus {
  background: #eed;
  border: none;
  outline: 0;
  box-shadow: inset 3px 3px 4px -3px rgb(101, 74, 5);
}

.search-box:hover,
.search-box:focus {
  border: 4px double #b28d4d;
  background-color: #eed;
  box-shadow: inset 3px 3px 4px -3px rgb(101, 74, 5);
}
