.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  text-align: center;
  align-items: center;
  position: relative;
  transition: transform 1s;
  background-color: rgb(255, 255, 250);
  transform-style: preserve-3d;
  height: 300px;
  border-radius: 3px;
}

.card:hover .card-content {
  transform: rotateY(0.5turn);
}

.card-container-back,
.card-container-front {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  border-radius: 3px;
}

.card-container-front {
  box-shadow: 2px 2px 5px #999;
}

.card-container-back {
  padding: 20px;
  transform: rotateY(0.5turn);
  background-color: white;
  box-shadow: 2px 2px 5px #999;
}

p {
  font-size: 13px;
  letter-spacing: -0.3px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.card-awardyear {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 15px;
  font-weight: 800;
  opacity: 70%;
}

.back-name-title {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.front-name-title {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
}

img {
  width: auto;
  height: 50%;
}

.img-underline {
  height: 1px;
  width: 80%;
  background-color: #cea152;
  opacity: 30%;
  margin-bottom: 20px;
  margin-top: 5px;
}
